<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
    <fieldset>
        <legend>
            <h3>{{ question.question_text }}</h3>
        </legend>
        {% if error_message %}<p>
            <strong>{{ error_message }}</strong>
        </p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            <br>
            <br>
        {% endfor %}
        <br>
        <input type="submit" value="Vote" style="float:right; margin:1%; border-radius:5px; background-color: rgb(21, 255, 0); font-size:xx-large; font-weight:bold;">
    </fieldset>
</form>